---
import Layout from "../layouts/Layout.astro";
import Review from "../components/Review.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Some1 from "../../public/image/some1.webp";
import Some2 from "../../public/image/some2.webp";
import Some3 from "../../public/image/some3.webp";
import Some4 from "../../public/image/some4.webp";
import HeroForside from "../../public/image/heroForside.webp";
import Karrusel from "../components/Karrusel.astro";
import Keramikkensrejse from "../components/KeramikkensRejse.astro";
import Collageinspi from "../components/Collageinspi.astro";
import Billedegalleri from "../components/Billedegalleri.astro";

import { Image } from "astro:assets";
import KeramikkensRejse from "../components/KeramikkensRejse.astro";
---

<Layout>
  <Header />
  <section class="hero">
    <!-- <Image src={HeroForside} alt="hænder" /> -->
    <h2 class="h1">SIDSES KERAMIK</h2>

    <p class="subheadline ">
      Hver nuance en historie - Sidses håndlavede keramik til dig
    </p>
  </section>

  <section class="grid_2-1">
    <div class="grønBG">
      <p class="text1 pcenter">
        Velkommen til Sidses Keramik – her mødes håndværk og æstetik i unikke,
        håndlavede produkter. Inspireret af naturens farver og former skaber
        Sidse keramik med sjæl og personlighed, der bringer glæde til hverdagen.
        Udforsk kollektionerne og find det perfekte match til dit hjem.
      </p>
      <a class="button" href="">Se produkter</a>
    </div>

    <div class="hide">
      <img src="../../public/image/forside2.webp" alt="" />
    </div>
  </section>

  <section class="karrusel">
    <Karrusel />
  </section>

  <section class="hide keramikkensrejse">
    <KeramikkensRejse />
  </section>

  <Review/>

  <section>
    <Billedegalleri/>
  </section>

  <h2 class="h2">Følg med på instagram</h2>
  <section class="grid_2 grid_5">
    <div class="container">
      <Image class="image" src={Some1} alt="hænder" />
      <div class="middle">
        <div class="instalogo">
          <img src="../../public/image/insta.svg" alt="unda.webp" />
        </div>
      </div>
    </div>
    <div class="container">
      <Image class="image" src={Some2} alt="hænder" />
      <div class="middle">
        <div class="instalogo">
          <img src="../../public/image/insta.svg" alt="unda.webp" />
        </div>
      </div>
    </div>
    <div class="container">
      <Image class="image" src={Some3} alt="hænder" />
      <div class="middle">
        <div class="instalogo">
          <img src="../../public/image/insta.svg" alt="unda.webp" />
        </div>
      </div>
    </div>
    <div class="container">
      <Image class="image" src={Some4} alt="hænder" />
      <div class="middle">
        <div class="instalogo">
          <img src="../../public/image/insta.svg" alt="unda.webp" />
        </div>
      </div>
    </div>
    <div class="container">
      <Image class="hide image" src={Some1} alt="hænder" />
      <div class="middle">
        <div class="instalogo">
          <img src="../../public/image/insta.svg" alt="unda.webp" />
        </div>
      </div>
    </div>
    <div class="container">
      <Image class="hide image" src={Some2} alt="hænder" />
      <div class="middle">
        <div class="instalogo">
          <img src="../../public/image/insta.svg" alt="unda.webp" />
        </div>
      </div>
    </div>

    <div class="container">
      <Image class="hide image" src={Some3} alt="hænder" />
      <div class="middle">
        <div class="instalogo">
          <img src="../../public/image/insta.svg" alt="unda.webp" />
        </div>
      </div>
    </div>

    <div class="container">
      <Image class="hide image" src={Some4} alt="hænder" />
      <div class="middle">
        <div class="instalogo">
          <img src="../../public/image/insta.svg" alt="unda.webp" />
        </div>
      </div>
    </div>
    <div class="container">
      <Image class="hide image" src={Some1} alt="hænder" />
      <div class="middle">
        <div class="instalogo">
          <img src="../../public/image/insta.svg" alt="unda.webp" />
        </div>
      </div>
    </div>

    <div class="container">
      <Image class="hide image" src={Some2} alt="hænder" />
      <div class="middle">
        <div class="instalogo">
          <img src="../../public/image/unda.webp" alt="unda.webp" />
        </div>
      </div>
    </div>
  </section>
</Layout>

<Footer />

<style>
  .container:hover .image {
    opacity: 0.3;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    /* width: 100%;
    height: auto; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; */
  }

  .instalogo {
    color: white;
    padding: 0;
  }

  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
  }

  .h2 {
    text-align: center;
  }

  .h1{
    padding: 30px 10px 0 15px;
  }

  .subheadline{
    padding: 0 0 0 15px;
  }

  main {
    max-width: 428px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .text1 {
    padding: 20px 10px;
  }

  .hero {
    background-image: url("../../public/image/heroForside.webp");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 555px;
  }

  .grønBG {
    text-align: center;
    padding: 10px;
    background-color: var(--accent-green-clr)
  }

  .button{
    margin:30px;
  }

  @media (max-width: 600px) {
    .hide {
      display: none;
    }
    .hero {
      width: 100%;
      height: 200px;
    }
  }

  @media (min-width: 600px) {
    .grid_5 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .grid_2-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0;
    }
  
  }
</style>
