---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Some1 from "../../public/image/some1.webp";
import Some2 from "../../public/image/some2.webp";
import Some3 from "../../public/image/some3.webp";
import Some4 from "../../public/image/some4.webp";

import { Image } from "astro:assets";
---

<Layout>
  <section class="hero">
    <h1>SIDSES KERAMIK</h1>

    <p class="subheadline">
      Hver nuance en historie - Sidses håndlavede keramik til dig
    </p>
  </section>

  <section class="grønBG">
    <p>
      Velkommen til Sidses Keramik – her mødes håndværk og æstetik i unikke,
      håndlavede produkter. Inspireret af naturens farver og former skaber Sidse
      keramik med sjæl og personlighed, der bringer glæde til hverdagen. Udforsk
      kollektionerne og find det perfekte match til dit hjem.
    </p>
  </section>

  <section class="grid_2 grid_5">
    <Image src={Some1} alt="hænder" />
    <Image src={Some2} alt="hænder" />
    <Image src={Some3} alt="hænder" />
    <Image src={Some4} alt="hænder" />
    <Image class="hide" src={Some1} alt="hænder" />
    <Image class="hide" src={Some2} alt="hænder" />
    <Image class="hide" src={Some3} alt="hænder" />
    <Image class="hide" src={Some4} alt="hænder" />
    <Image class="hide" src={Some1} alt="hænder" />
    <Image class="hide" src={Some2} alt="hænder" />
  </section>
</Layout>

<Footer />

<style>
  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 600px) {
    .hide {
      display: none;
    }
  }

  @media (min-width: 600px) {
    .grid_5 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
</style>
