---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Some1 from "../../public/image/some1.webp";
import Some2 from "../../public/image/some2.webp";
import Some3 from "../../public/image/some3.webp";
import Some4 from "../../public/image/some4.webp";
import HeroForside from "../../public/image/heroForside.webp";
import Karrusel from "../components/Karrusel.astro";

import { Image } from "astro:assets";
---

<Layout>
  <Header />
  <section class="hero">
    <!-- <Image src={HeroForside} alt="hænder" /> -->
    <h1>SIDSES KERAMIK</h1>

    <p class="subheadline">
      Hver nuance en historie - Sidses håndlavede keramik til dig
    </p>
  </section>

  <section class="grønBG">
    <p>
      Velkommen til Sidses Keramik – her mødes håndværk og æstetik i unikke,
      håndlavede produkter. Inspireret af naturens farver og former skaber Sidse
      keramik med sjæl og personlighed, der bringer glæde til hverdagen. Udforsk
      kollektionerne og find det perfekte match til dit hjem.
    </p>
    <button>Se produkter</button>
  </section>

  <section class="karrusel">
    <Karrusel />
  </section>

  <h2>Følg med på instagram</h2>
  <section class="grid_2 grid_5">
    <Image src={Some1} alt="hænder" />
    <Image src={Some2} alt="hænder" />
    <Image src={Some3} alt="hænder" />
    <Image src={Some4} alt="hænder" />
    <Image class="hide" src={Some1} alt="hænder" />
    <Image class="hide" src={Some2} alt="hænder" />
    <Image class="hide" src={Some3} alt="hænder" />
    <Image class="hide" src={Some4} alt="hænder" />
    <Image class="hide" src={Some1} alt="hænder" />
    <Image class="hide" src={Some2} alt="hænder" />
  </section>
</Layout>

<Footer />

<style>
  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
  }

  main {
    max-width: 428px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .hero {
    background-image: url("../../public/image/heroForside.webp");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 258px;
  }

  .grønBG {
    background-color: rgb(151, 222, 141);
    text-align: center;
    padding: 10px;
  }

  @media (max-width: 600px) {
    .hide {
      display: none;
    }
  }

  @media (min-width: 600px) {
    .grid_5 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
</style>
