---
import logo from "../../public/image/logo.svg";
import Image from 'astro/components/Image.astro';
import insta from "../../public/image/insta.svg";
import tiktok from "../../public/image/tiktok.svg";
import Mail from "../../public/image/Mail.svg";
import Mobil from "../../public/image/Mobil.svg";
import Person from "../../public/image/Person.svg";
---

<footer class="footer">
  <!-- Venstre Sektion om Sidses Keramik-->
  <div class="footer-section">
    <h3>Sidses Keramik</h3>
    <p>
      Håndplukket unika keramik. Jeg gør mig umage med at udvælge ler, der er holdbart
      til hverdagens brug, og lægger vægt på minimalistisk design.
    </p>
  </div>

  <!-- Midtersektion Logo -->
  <div class="footer-logo footer-section">
    <Image class="image" src={logo} alt="logo"/> 
    <p>Alle rettigheder forbeholdt Sidses keramik ©2024. Sidses keramik · Skytten 3 · 7100 Vejle</p> 
  </div>


  <!-- Højre Sektion - Kontakt -->
  <div class="footer-section">
    <h3>Kontakt</h3>
    <p>
      <Image class="image" src={Person} alt="logo" width="24" height="24"/>
      Sidse Snedevinde Sørensen
    </p>
    <p>
      <Image class="image" src={Mail} alt="logo" width="24" height="24"/>
      <a href="mailto:sidseskeramik@gmail.com">sidseskeramik@gmail.com</a>
    </p>
    <p>
      <Image class="image" src={Mobil} alt="logo" width="24" height="24"/>
      <a href="tel:+4526754006">+45 26754006</a>
    </p>
    <div class="icons">
    <a href="#" aria-label="TikTok">
      <Image class="image" src={insta} alt="logo" width="24" height="24"/>  
      
    </a>
    <a href="#" aria-label="Instagram">
      <Image class="image" src={tiktok} alt="logo" width="24" height="24"/>  
    </div>
  </div>
</footer>
<style>
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f0eae4; /* Ensartet baggrund */
    color: #4b403a;
  }

  /* Sektioner i footer */
  .footer-section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: 
    height: 250px;
    line-height: 3rem;

  }
  .footer-section a {
    text-decoration: none;
    color: inherit;
    line-height: 4rem;
  }

  .footer-section a:hover {
    color: #ab7967;
    text-decoration: underline;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
  }

  .footer-logo img {
    width: 80px;
  }

  h3{
    text-align: center;
  }

  /* Responsiv styling */
  @media (max-width: 768px) {
    .footer {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .footer-section {
      height: auto;
      align-items: center;
    }

    .footer-logo {
      grid-column: 1;
    }
    
  }
</style>

