---
import logo from "../../public/image/logo.svg";
import Image from 'astro/components/Image.astro';
import insta from "../../public/image/insta.svg";
import tiktok from "../../public/image/tiktok.svg";
import Mail from "../../public/image/Mail.svg";
import Mobil from "../../public/image/Mobil.svg";
import Person from "../../public/image/Person.svg";
---

<footer class="footer">

  <div class="footer-section">
    <h3>Sidses Keramik</h3>
    <p>
      Håndplukket unika keramik. Jeg gør mig umage med at udvælge ler, der er holdbart
      til hverdagens brug, og lægger vægt på minimalistisk design.
    </p>
  </div>


  <div class="footer-logo footer-section">
    <Image class="image" src={logo} alt="logo"/> 
    <p class="midtertekst">Alle rettigheder forbeholdt Sidses keramik ©2024. Sidses keramik · Skytten 3 · 7100 Vejle</p> 
  </div>

  <div class="footer-section">
    <h3>Kontakt</h3>
    <p>
      <Image class="image" src={Person} alt="logo" width="24" height="24"/>
      Sidse Snedevinde Sørensen
    </p>
    <p>
      <Image class="image" src={Mail} alt="logo" width="24" height="24"/>
      <a href="mailto:sidseskeramik@gmail.com">sidseskeramik@gmail.com</a>
    </p>
    <p>
      <Image class="image" src={Mobil} alt="logo" width="24" height="24"/>
      <a href="tel:+4526754006">+45 26754006</a>
    </p>
    <div class="icons">
      <a href="https://www.instagram.com/sidses_keramik?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" aria-label="Instagram">
        <Image class="image" src={insta} alt="Instagram" width="24" height="24"/>  
      </a>
      <a href="https://www.tiktok.com/@sidses_keramik/video/7417070546589863201" aria-label="TikTok">
        <Image class="image" src={tiktok} alt="TikTok" width="24" height="24"/>  
      </a>
  </div>
</footer>
<style>
  .footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tre sektioner */
  grid-gap: 2rem; /* Ensartet afstand mellem sektionerne */
  background-color: #CFC6B9; 
  color: #735E50;
}

.footer-section {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-section a {
  text-decoration: none;
  color: inherit;
  line-height: 2.5rem;
}

.footer-section p {
  text-decoration: none;
  color: inherit;
  line-height: 2.5rem; 
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.footer-section a:hover {
  color: #ab7967;
  text-decoration: underline;
}

.footer-logo {
  justify-content: center;
  align-items: center;
}

.footer-logo .image {
  width: 80px;
  margin-bottom: -1.5rem; 
}

.footer-logo p {
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.5rem;
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr; /* Én kolonne i mobiltilstand */
    grid-gap: 0.1rem; /* Mindre afstand mellem sektionerne */
    text-align: center;
  }

  .footer-section {
    padding: 2rem;
    margin-bottom: 0.5rem; /* Ensartet afstand mellem sektionerne */
  }

  .footer-logo {
    grid-column: 1;
  }

  /* Teksten om Sidse skal være centreret i mobil */
  .footer-section p {
    text-align: center; /* Centrer teksten */
    gap: 0.5rem; /* Mindre gap mellem tekst og ikon */
  }

  .footer-section .icons {
    justify-content: center;
    display: flex;
    gap: 1rem; /* Mindre afstand mellem TikTok og Instagram */
    margin-top: 1rem;
  }

  .footer-section .icons a {
    display: inline-block;
  }

  /* Ikonerne i kontaktsektionen skal være venstrestillet på mobil */
  .footer-section .icons {
    flex-direction: row; /* Instagram og TikTok skal være ved siden af hinanden */
    align-items: center; /* Juster ikonerne horisontalt */
  }

  .midtertekst {
    margin-bottom: 0; 
  }
}

</style>

