---
const {kollektion} = Astro.props;


const kollektioner = await fetch("https://socvoibygqltdglscttm.supabase.co/rest/v1/listeview_card",{
method:"GET",
headers:{
  apikey:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNvY3ZvaWJ5Z3FsdGRnbHNjdHRtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM5MTg4NTksImV4cCI6MjA0OTQ5NDg1OX0.k-0jnIHYJuGx-8HeMip4kxl1phEdqwn1oct3VcV9yWE"
},
})
.then((res)=>res.json());

// .then(showData)

// function showData(items){
    console.log(kollektioner);
    // items.forEach()

// function (){}

---


    <!-- {kollektioner.map((Listecard) => <h1>{kollektion.titel}</h1>)}
    <li>
{      <img src={`/image/${kollektioner.img}`} alt={kollektioner.title}/> -->
<!-- </li> -->


<section  class="grid_3">
  <div>
    <div class="card">
        <div class="card-image">
          <!-- <img src={"/image/" + kollektioner} alt={kollektioner.img}/> -->
          <!-- <img src={kollektioner[0].img} alt={kollektioner[0].title} /> -->
          {kollektioner.map((kollektioner) => (
            <img src={kollektioner.img} alt={kollektioner.title} />
          ))}

          <!-- {kollektioner[0].img} -->
    </div>
      
        <div class="card-content">
            <div class="heading">
                <h3>
                  {kollektioner[0].titel}
                  {kollektioner[0].price}
                  </h3>
            </div>
            {kollektioner[0].kollektion}

            <p>
              {kollektioner[0].description}

            </p>
            
          </div>
          

          <div class="card-footer">
            <span class="basket-icon">
              
            </span>
          </div>
        </div>
      </div>

      </section>

  <style>

    .grid_3{
      display:grid;
      grid-template-columns: repeat(1fr 1fr 1fr);


    }

.card {
    display: flex;
    width: 343px;
    flex-direction: column;
    align-items: flex-start;
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-content{
    display: flex;
padding: 16px 24px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
}
.card-image img {
  width: 100%;
  max-width: 200px;
  align-items: center;

}
.heart-icon{
    
    position: absolute;
    right: 23.839px;

top: 21px;
}


h1,
h2,
h3,
.subheadline,
p {
  color: var(--text-clr);
  line-height: 1.2;
}

h3 {
  font-size: var(--fs-l);
}

.subheadline {
  font-size: var(--fs-m);
}

p {
  font-size: var(--fs-xxs);
}
.price{
    
}

/* MOBIL */
@media (max-width: 678px) {
 
  h3 {
    font-size: var(--mfs-m);
  }

  p {
    font-size: var(--mfs-s);
  }

  .subheadline {
    font-size: var(--mfs-m);
  }
}

  </style>